<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.car.mapper.sqlserver.DriverInfoMapper">
    <insert id="insertDriver" parameterType="com.example.car.entity.DriverInfo" useGeneratedKeys="true"
            keyProperty="driverId">
       insert into driver_info (driverName,driverMobile,driverCardNo,driverReviewTime,driverPhotoUrl,driverSex,
       driverAddress,licenseUrl,carId,deptid)
        values
         (#{driverName},#{driverMobile},#{driverCardNo},#{driverReviewTime},#{driverPhotoUrl},#{driverSex},
       #{driverAddress},#{licenseUrl},#{carId},#{deptid})
   </insert>
    <select id="selectDriverInfo" resultType="com.example.car.entity.DriverInfo">
        select m03.m0331 as carNumber,d.*,m03.DLicenseImage as url
        FROM driver_info d left JOIN M03 m03 ON m03.RecId=d.carId where 1=1
        <if test="driverId !=null and driverId !=''">
            and d.driverId=#{driverId}
        </if>
        <if test="MustId!= null and MustId!=''">
            and m03.MustId=#{MustId}
        </if>
        <if test="name!= null and name!=''">
            and m03.m0331 like '%'+#{name}+'%'
        </if>
        <if test="driverCardNo!= null and driverCardNo!=''">
            and d.driverCardNo =#{driverCardNo}
        </if>
    </select>
    <update id="updateDriver">
        update driver_info set
        driverCardNo=#{driverCardNo}
        <if test="driverName!=null and driverName!=''">
            ,driverName=#{driverName}
        </if>
        <if test="driverMobile !=null and driverMobile!=''">
            ,driverMobile=#{driverMobile}
        </if>
        <if test="driverReviewTime!=null and driverReviewTime!=''">
            ,driverReviewTime=#{driverReviewTime}
        </if>
        <if test="driverStatus!=null and driverStatus!=''">
            ,driverStatus=#{driverStatus}
        </if>
        <if test="driverPhotoUrl!=null and driverPhotoUrl!=''">
            ,driverPhotoUrl=#{driverPhotoUrl}
        </if>
        <if test="driverSex!=null and driverSex!=''">
            ,driverSex=#{driverSex}
        </if>
        <if test="driverAddress!=null and driverAddress!=''">
            ,driverAddress=#{driverAddress}
        </if>
        <if test="licenseUrl!=null and licenseUrl!=''">
            ,licenseUrl=#{licenseUrl}
        </if>
        <if test="carId!=null and carId!=''">
            ,carId=#{carId}
        </if>
        <if test="deptid!=null and deptid!=''">
            ,deptid=#{deptid}
        </if>
        <if test="driverCardNo1!=null and driverCardNo1!=''">
            ,driverCardNo1=#{driverCardNo1}
        </if>
        <if test="driverCardNo2!=null and driverCardNo2!=''">
            ,driverCardNo2=#{driverCardNo2}
        </if>
        where
        driverId=#{driverId}
    </update>
    <insert id="insertDriverHistorical">
       insert into driver_historical (carId,driverId,startTime,endTime)
        values
        (#{carId},#{driverId},#{startTime},#{endTime})
    </insert>
    <select id="selectDriverHistorical" resultType="com.example.car.entity.DriverInfo">
        SELECT
        d.* ,
        h.startTime,
        h.endTime
        FROM
        driver_historical h LEFT JOIN driver_info d ON h.driverId=d.driverId
        WHERE
        1 =1
        <if test="carId !=null and carId!=''">
            and h.carId=#{carId}
        </if>
    </select>
    <delete id="delectDriver">
delete  from driver_info where driverId=#{driverId}
    </delete>
    <delete id="delectDriverHistorical">
delete  from driver_historical where driverId=#{driverId}
    </delete>
    <select id="selectDriverCount" resultType="java.lang.Integer">
        SELECT COUNT
        ( 1 )
        FROM
        driver_info
        WHERE
        1=1
        <if test="driverStatus!=null and driverStatus!=''">
            and driverStatus=#{driverStatus}
        </if>
        <if test="deptid!=null and deptid!=''">
            and deptid=#{deptid}
        </if>
    </select>
</mapper>
