<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.car.mapper.sqlserver.M03Mapper">
    <update id="updateM03">
   update M03 set person=#{person},quality=#{quality},dimensions=#{dimensions},scrapTime=#{scrapTime},
   IssuanceDate=#{IssuanceDate},totalQuality=#{totalQuality},checkQuality=#{checkQuality},tractionQuality=#{tractionQuality},
   stopTransport=#{stopTransport},stopNumber=#{stopNumber},stopEndTime=#{stopEndTime},stopRemark=#{stopRemark}
   where
   RecId=#{RecId}
</update>
    <select id="selectM03" resultType="com.example.car.entity.M03">
        select * from M03 where
        1=1
        <if test="carNumber != null and carNumber!=''">
            and M0331 LIKE '%'+ #{carNumber}+'%'
        </if>
        <if test="recId !=null and recId !=''">
            and RecId=#{recId}
        </if>
        <if test="phone !=null and phone!=''">
            and M0310 = #{phone}
        </if>
        <if test="MustId !=null and MustId!=''">
            and MustId =#{MustId}

        </if>
    </select>
    <update id="updateStopTransport">
        update M03 set stopTransport=#{stopTransport},stopNumber=#{stopNumber},stopEndTime=#{stopEndTime},stopRemark=#{stopRemark}     where  RecId=#{recId}
    </update>

    <select id="selectM03Status" resultType="com.example.car.common.utils.entity.CarStatus">
        SELECT
        ISNULL( m.RecId,NULL) recId,
        ISNULL( m.M0331,NULL) M0331,
        ISNULL( c.certificationTime,NULL) certificationTime,
        ISNULL( c.certificationStatus,NULL) certificationStatus,
        ISNULL( p.EndTime ,NULL) EndTime,
        ISNULL( m.stopTransport,NULL) stopTransport,
        ISNULL( m.stopNumber,NULL) stopNumber,
        ISNULL( m.stopRemark,NULL) stopRemark,
        ISNULL( m.stopEndTime,NULL) stopEndTime
        FROM
        m03 m
        LEFT JOIN ( SELECT * FROM View_PermitTruck WHERE datediff( dd, EndTime, GETDATE( ) ) <![CDATA[ <= ]]> 0 ) p ON
        m.M0331= p.CarNo
        LEFT JOIN car_certification c ON c.carId= m.RecId
        WHERE
        <if test="MustId !=null and MustId!=''">
            m.MustId=#{MustId}
        </if>
        GROUP BY
        m.M0331,
        c.certificationTime,
        p.EndTime,
        m.stopTransport,
        m.stopNumber,
        m.stopEndTime,
        m.RecId,
        m.stopRemark,
        c.certificationStatus
    </select>
    <insert id="insertM03">
        insert into M03 (RecId,Creator,MustId,M0302,M0331,M0325) values (#{RecId},#{Creator},#{MustId},#{M0302},#{M0331},#{M0325})
    </insert>
    <select id="selectPermitTruck" resultType="java.lang.String">
        SELECT PermitNo FROM View_PermitTruck WHERE datediff( dd, EndTime, GETDATE( ) ) <![CDATA[ <= ]]> 0 and CarNo=#{CarNo}
    </select>
</mapper>
