<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.car.mapper.sqlserver.MuckMapper">
    <select id="selectMuck" resultType="java.util.Map">
        SELECT
        p.BeginTime,
        p.CarNo,
        p.EndTime,
        p.LineName,
        p.PermitNo,
        t.carType,
        t.Capacity,
        t.ExpiryTime,
        t.CompanyName,
        t.DriverName,
        t.DriverMobile
        FROM
        View_PermitTruck p
        LEFT JOIN View_TruckInfo t ON p.carno = t.carno
        WHERE
        1=1
        <if test="carNo != null and carNo != ''">
            AND p.CarNo = #{carNo}
        </if>
        <if test="time !=null and time !=''">
            and p.EndTime  <![CDATA[ >=]]>   #{time}
        </if>
        <if test="permitNo !=null and permitNo !=''">
            AND p.permitNo = #{permitNo}
        </if>
        ORDER BY
        p.EndTime DESC;
    </select>
    <select id="selectMuckByName" resultType="java.util.Map">
        select *
        from (select top ${size} *
        from (select top ${page} *
        from ( SELECT
        top 1000 *
        FROM
        (
        SELECT
        p.ProjectId,
        p.PermitNo,
        p.LineName,
        p.ProjectName,
        pt.EndTime
        FROM
        View_ProjectPermit p
        LEFT JOIN View_PermitTruck pt ON p.PermitNo = pt.PermitNo
        WHERE
        1 = 1
        <if test="projectName !=null and projectName !=''">
            and p.ProjectName LIKE '%'+ #{projectName}+'%'
        </if>
        <if test="time !=null and time !=''">
            and pt.EndTime <![CDATA[ >= ]]>   #{time}
        </if>
        <if test="endTime !=null and endTime !=''">
            and (SELECT CONVERT(VARCHAR(10),pt.EndTime,120)) = #{endTime}
        </if>
        <if test="name !=null and name!=''">
            and pt.CarNo LIKE '%'+ #{name}+'%'
        </if>
        GROUP BY
        p.PermitNo,
        p.ProjectId,
        p.LineName,
        p.ProjectName,
        pt.EndTime
        ) as a
        ORDER BY
        a.EndTime DESC
        ) as b
        order by b.EndTime asc )
        as temp
        order by temp.EndTime DESC ) temp_order
        order by temp_order.EndTime DESC
        ;
    </select>
    <select id="selectMuckByProject" resultType="java.util.Map">
        SELECT
        ISNULL( p.BeginTime, '' ) BeginTime,
        ISNULL( p.EndTime, '' ) EndTime,
        ISNULL( p.LineName, '' ) LineName,
        ISNULL( p.PermitNo, '' ) PermitNo,
        ISNULL( p.CompanyName, '' ) CompanyName,
        ISNULL( p.ProjectName , '' ) ProjectName,
        ISNULL( p.Absorption, '' ) Absorption,
        ISNULL( i.CarType, '' ) CarType,
        ISNULL( i.Capacity, '' ) Capacity,
        ISNULL( i.ExpiryTime, '' ) ExpiryTime,
        ISNULL( i.CarNo, '' ) CarNo,
        ISNULL( i.DriverName, '' ) DriverName,
        ISNULL( i.DriverMobile , '' ) DriverMobile,
        ISNULL( p.place, '' ) place,
        ISNULL( p.mucktype, '' ) mucktype,
        ISNULL( p.approvetime, '' ) approvetime,
        ISNULL( p.permittype, '' ) permittype,
        ISNULL( com.Contract, '' ) Contract,
        ISNULL( com.Mobile , '' ) Mobile
        FROM
        View_PermitInfo p
        LEFT JOIN View_PermitTruck t ON t.PermitNo= p.PermitNo
        LEFT JOIN View_TruckInfo i ON i.CarNo= t.CarNo
        LEFT JOIN View_CompanyInfo com ON com.CompanyName= p.CompanyName
        WHERE
        1 = 1
        <if test="projectId !=null and projectId !=''">
            and t.permitNo= #{projectId}
        </if>
        <if test="time!=null and time!=''">
            and t.EndTime &gt;= #{time}
        </if>
        ORDER BY
        p.EndTime DESC;
    </select>
    <select id="selectMuckCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM (SELECT
        p.PermitNo
        FROM
        View_ProjectPermit p
        LEFT JOIN View_PermitTruck pt ON p.PermitNo = pt.PermitNo
        WHERE
        1 = 1
        <if test="projectName !=null and projectName !=''">
            and p.ProjectName LIKE '%'+ #{projectName}+'%'
        </if>
        <if test="time !=null and time !=''">
            and pt.EndTime <![CDATA[ >= ]]>   #{time}
        </if>
        <if test="endTime !=null and endTime !=''">
            and (SELECT CONVERT(VARCHAR(10),pt.EndTime,120)) = #{endTime}
        </if>
        <if test="name !=null and name!=''">
            and pt.CarNo LIKE '%'+ #{name}+'%'
        </if>
        GROUP BY
        p.PermitNo
        ) AS c
    </select>
    <select id="selectCarInfo" resultType="java.util.Map">
        SELECT TOP ${size} * FROM (
        SELECT
        TOP ${total}
        ISNULL(t.Capacity,'') Capacity,
        ISNULL(t.CarNo,'')CarNo,
        ISNULL(t.CarType,'')CarType,
        ISNULL(t.CarframeNo,'')CarframeNo,
        ISNULL(t.CompanyName,'')CompanyName,
        ISNULL(t.DriverCardNo,'')DriverCardNo,
        ISNULL(t.DriverMobile,'')DriverMobile,
        ISNULL(t.DriverName,'')DriverName,
        ISNULL(t.EngineNo,'')EngineNo,
        ISNULL(t.ExpiryTime,'')ExpiryTime,
        ISNULL(t.GPSSFYC,'')GPSSFYC,
        ISNULL(t.OriginalCarNo,'')OriginalCarNo,
        ISNULL(t.RegisterTime,'')RegisterTime,
        ISNULL(t.SXSFQQ,'')SXSFQQ,
        ISNULL( t.JQXYXQ, '' ) JQXYXQ,
        ISNULL( t.SHYXYXQ, '' ) SHYXYXQ,
        ISNULL(t.ZYZG,'')ZYZG
        FROM
        View_TruckInfo t
        WHERE
        1=1
        <if test="carNo !=null and carNo!=''">
            and t.CarNo LIKE '%'+ #{carNo} +'%'
        </if>
        <if test="CompanyName !=null and CompanyName!=''">
            and t.CompanyName LIKE '%'+ #{CompanyName} +'%'
        </if>
        <if test="DriverName !=null and DriverName!=''">
            and t.DriverName = #{DriverName}
        </if>
        <if test="EngineNo !=null and EngineNo!=''">
            and t.EngineNo = #{EngineNo}
        </if>
        <if test="CarframeNo !=null and CarframeNo!=''">
            and t.CarframeNo = #{CarframeNo}
        </if>
        <if test="CarType !=null and CarType!=''">
            and t.CarType = #{CarType}
        </if>
        ORDER BY RegisterTime desc
        ) a ORDER BY RegisterTime ASC
    </select>
    <select id="selectGivenPlace" resultType="com.example.car.entity.M07">
        SELECT TOP
        ${size} a.*
        FROM
        (
        SELECT TOP
        ${total} RecId,
        M0702,
        M0703,
        M0704,
        M0706,
        M0707,
        M0708,
        M0709,
        M0710,
        Area,
        Dot,
        VideoUrl,
        M0718
        FROM
        M07
        WHERE
        1 = 1
        <if test="name !=null and name !=''">
            and M0706 LIKE '%'+ #{name}+'%'
        </if>
        <if test="M0702 !=null and M0702 !=''">
            and M0702 LIKE '%'+ #{M0702}+'%'
        </if>
        <if test="M0707 !=null and M0707 !=''">
            and M0707 LIKE '%'+ #{M0707}+'%'
        </if>
        <if test="M0708	!=null and M0708 !=''">
            and M0708 LIKE '%'+ #{M0708}+'%'
        </if>
        <if test="M0703	!=null and M0703 !=''">
            and M0703 = #{M0703}
        </if>
        <if test="M0704	!=null and M0704 !=''">
            and M0704 = #{M0704}
        </if>
        <if test="M0709	!=null and M0709 !=''">
            and M0709    <![CDATA[ > ]]> #{M0709}
        </if>
        <if test="M0710	!=null and M0710 !=''">
            and M0710 <![CDATA[ < ]]> #{M0710}
        </if>
        AND datediff( yy, M0709, GETDATE( ) ) = 0
        ORDER BY
        recid DESC
        ) AS a
        ORDER BY
        a.recid ASC;
    </select>

    <select id="selectConstructionSite" resultType="com.example.car.entity.M04">
        SELECT TOP
        ${size} a.*
        FROM
        (
        SELECT TOP
        ${total} RecId,
        M0417,
        M0418,
        M0419,
        M0401,
        M0402,
        M0407,
        M0408,
        M0403,
        M0404,
        M0405,
        M0406,
        M0422,
        M0409,
        M0410,
        M0411,
        M0412,
        M0413,
        M0414,
        M0420,
        M0425,
        M0426,
        Area,
        Dot,
        VideoUrl,
        M0429
        FROM
        M04
        WHERE
        1 = 1
        <if test="name !=null and name !=''">
            AND M0401 LIKE '%' + #{ name }+ '%'
        </if>
        <if test="M0417 !=null and M0417 !=''">
            AND M0417 LIKE '%' + #{ M0417 }+ '%'
        </if>
        <if test="M0419 !=null and M0419 !=''">
            AND M0419 = #{ M0419 }
        </if>
        <if test="M0402 !=null and M0402 !=''">
            AND M0402 LIKE '%' + #{ M0402 }+ '%'
        </if>
        <if test="M0403 !=null and M0403 !=''">
            AND M0403 LIKE '%' + #{ M0403 }+ '%'
        </if>
        <if test="M0414 !=null and M0414 !=''">
            AND M0414 = #{ M0414 }
        </if>
        <if test="M0420 !=null and M0420 !=''">
            AND M0420 = #{ M0420 }
        </if>
        <if test="M0425 !=null and M0425 !=''">
            AND M0425 <![CDATA[ > ]]> #{ M0425 }
        </if>
        <if test="M0426 !=null and M0426 !=''">
            AND M0426 <![CDATA[ < ]]> #{ M0426 }
        </if>
        AND datediff( yy, M0418, GETDATE( ) ) = 0
        ORDER BY
        recid DESC
        ) AS a
        ORDER BY
        a.recid ASC;
    </select>
    <select id="selectCarInfoCount" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        View_TruckInfo t
        WHERE
        1=1
        <if test="carNo !=null and carNo!=''">
            and t.CarNo LIKE '%'+ #{carNo} +'%'
        </if>
        <if test="CompanyName !=null and CompanyName!=''">
            and t.CompanyName LIKE '%'+ #{CompanyName} +'%'
        </if>
        <if test="DriverName !=null and DriverName!=''">
            and t.DriverName = #{DriverName}
        </if>
        <if test="EngineNo !=null and EngineNo!=''">
            and t.EngineNo = #{EngineNo}
        </if>
        <if test="CarframeNo !=null and CarframeNo!=''">
            and t.CarframeNo = #{CarframeNo}
        </if>
        <if test="CarType !=null and CarType!=''">
            and t.CarType = #{CarType}
        </if>
    </select>

    <select id="selectGivenPlaceCount" resultType="java.lang.Integer">
        SELECT
        count (1)
        FROM
        M07
        WHERE
        1 = 1
        <if test="name !=null and name !=''">
            and M0706 LIKE '%'+ #{name}+'%'
        </if>
        <if test="M0702 !=null and M0702 !=''">
            and M0702 LIKE '%'+ #{M0702}+'%'
        </if>
        <if test="M0707 !=null and M0707 !=''">
            and M0707 LIKE '%'+ #{M0707}+'%'
        </if>
        <if test="M0708	!=null and M0708 !=''">
            and M0708 LIKE '%'+ #{M0708}+'%'
        </if>
        <if test="M0703	!=null and M0703 !=''">
            and M0703 = #{M0703}
        </if>
        <if test="M0704	!=null and M0704 !=''">
            and M0704 = #{M0704}
        </if>
        <if test="M0709	!=null and M0709 !=''">
            and M0709    <![CDATA[ > ]]> #{M0709}
        </if>
        <if test="M0710	!=null and M0710 !=''">
            and M0710 <![CDATA[ < ]]> #{M0710}
        </if>
        AND datediff( yy, M0709, GETDATE( ) ) = 0
    </select>

    <select id="selectConstructionSiteCount" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        M04
        WHERE
        1 = 1
        <if test="name !=null and name !=''">
            AND M0401 LIKE '%' + #{ name }+ '%'
        </if>
        <if test="M0417 !=null and M0417 !=''">
            AND M0417 LIKE '%' + #{ M0417 }+ '%'
        </if>
        <if test="M0419 !=null and M0419 !=''">
            AND M0419 = #{ M0419 }
        </if>
        <if test="M0402 !=null and M0402 !=''">
            AND M0402 LIKE '%' + #{ M0402 }+ '%'
        </if>
        <if test="M0403 !=null and M0403 !=''">
            AND M0403 LIKE '%' + #{ M0403 }+ '%'
        </if>
        <if test="M0414 !=null and M0414 !=''">
            AND M0414 = #{ M0414 }
        </if>
        <if test="M0420 !=null and M0420 !=''">
            AND M0420 = #{ M0420 }
        </if>
        <if test="M0425 !=null and M0425 !=''">
            AND M0425 <![CDATA[ > ]]> #{ M0425 }
        </if>
        <if test="M0426 !=null and M0426 !=''">
            AND M0426 <![CDATA[ < ]]> #{ M0426 }
        </if>
        AND datediff( yy, M0418, GETDATE( ) ) = 0
    </select>


    <select id="selectGivenPlaceOne" resultType="com.example.car.entity.M07">
        select RecId, M0702, M0703, M0704, M0706, M0707, M0708, M0709, M0710, Area, Dot, VideoUrl,M0718 from M07 where RecId=#{recid}
    </select>

    <select id="selectConstructionSiteOne" resultType="com.example.car.entity.M04">
      select RecId, M0417, M0418, M0419, M0401, M0402, M0407, M0408, M0403, M0404, M0405, M0406, M0422,
       M0409, M0410, M0411, M0412, M0413, M0414, M0420, M0425, M0426, Area, Dot, VideoUrl,M0429 from M04  where RecId=#{recid}
 </select>

    <update id="updateGivenPlace">
        UPDATE M07 SET area=#{Area},dot=#{Dot},M0718=#{M0718} WHERE  Recid=#{RecId}
    </update>


    <update id="updateConstructionSite">
        UPDATE M04 SET area=#{Area},dot=#{Dot},M0429=#{M0429} WHERE  Recid=#{RecId}
    </update>

    <select id="selectCarInfoByCompany" resultType="java.util.Map">
SELECT
	ISNULL(t.Capacity,'') Capacity,
	ISNULL(t.CarNo,'')CarNo,
	ISNULL(t.CarType,'')CarType,
	ISNULL(t.CarframeNo,'')CarframeNo,
	ISNULL(t.CompanyName,'')CompanyName,
	ISNULL(t.DriverCardNo,'')DriverCardNo,
	ISNULL(t.DriverMobile,'')DriverMobile,
	ISNULL(t.DriverName,'')DriverName,
	ISNULL(t.EngineNo,'')EngineNo,
	ISNULL(t.ExpiryTime,'')ExpiryTime,
	ISNULL(t.GPSSFYC,'')GPSSFYC,
	ISNULL(t.OriginalCarNo,'')OriginalCarNo,
	ISNULL(t.RegisterTime,'')RegisterTime,
	ISNULL(t.SXSFQQ,'')SXSFQQ,
	ISNULL(t.ZYZG,'')ZYZG,
	ISNULL(m.M0108,'')M0108,
	ISNULL(m.M0109,'')M0109
FROM
	View_TruckInfo t LEFT JOIN View_CompanyInfo c ON c.CompanyName=t.CompanyName LEFT JOIN M01 m ON c.CompanyId=m.MustId
	WHERE
	c.CompanyId=#{companyId}
	AND
	t.ZYZG=1
</select>
    <select id="selectoperprogress" resultType="com.example.car.entity.Operprogress">
       SELECT
	o.ACTION_RESULT AS actionResult,
	o.CALLER_DESC AS callerDesc,
	o.CREATE_TIME AS callerTime,
	o.CREATOR_DESC AS creatorDesc,
	o.DESCRIPTION AS description,
	o.DUE_DATE AS dueDate,
	o.FINISH_DATE AS finishDate,
	o.OWNER_DESC AS ownerDesc,
	o.SENDER_DESC AS senderDesc,
	o.SERIAL_NUMBER AS serialNumber,
	o.START_DATE AS startDate,
	o.STATUS AS status,
	o.STEP_NAME AS stepName
FROM
	view_operprogress o
WHERE
	o.serial_number = #{number}
    </select>

    <select id="selectNotice" resultType="com.example.car.entity.Notice">
        SELECT
	n.NoticeId,
	n.Title,
	n.Content,
	n.Publisher,
	n.PublishTime,
	n.Owner,
	n.TitleColor,
	n.IsTop,
	n.IsPop,
	n.Mark,
	n.Category,
	n.Published,
	n.ExpireTime
FROM
	Notice n
	where
       datediff(Month,n.PublishTime,getdate())=0
    </select>

    <select id="selectM01" resultType="com.example.car.entity.M01">
        SELECT
	m.Creator,
	m.DispOrder,
	m.M0101,
	m.M0102,
	m.M0103,
	m.M0104,
	m.M0105,
	m.M0106,
	m.M0107,
	m.M0108,
	m.M0109,
	m.MustId,
	m.ShortSpell,
	m.Status
FROM
	M01 m
    </select>

    <select id="selectCountByMuck" resultType="com.example.car.common.utils.entity.EChatBean7">
        SELECT
	b.[time],a.[count]
FROM
	 ( SELECT BeginTime AS 'time', COUNT ( 1 ) AS 'count' FROM View_ProjectPermit GROUP BY BeginTime ) a
	RIGHT JOIN (
	SELECT CONVERT
		( CHAR ( 10 ), DATEADD( dd, number, #{time } ), 120 ) AS 'time'
	FROM
		master..spt_values
	WHERE
		type = 'p'
		AND DATEDIFF(
			MI,
			DATEADD( dd, number, #{time } ),
			( SELECT CONVERT ( VARCHAR ( 100 ), GETDATE( ), 23 ) )
		) > 0
	)  b ON b.time = a.time;
    </select>
    <select id="selectMuckadvanced" resultType="java.util.Map">
        SELECT TOP
        ${size} a.*
        FROM
        (
        SELECT TOP
        ${total} ISNULL( p.BeginTime, '' ) BeginTime,
        ISNULL( p.EndTime, '' ) EndTime,
        ISNULL( p.LineName, '' ) LineName,
        ISNULL( p.PermitNo, '' ) PermitNo,
        ISNULL( p.CompanyName, '' ) CompanyName,
        ISNULL( p.ProjectName , '' ) ProjectName,
        ISNULL( p.Absorption, '' ) Absorption,
        ISNULL( p.place, '' ) place,
        ISNULL( p.mucktype, '' ) mucktype,
        ISNULL( p.approvetime, '' ) approvetime,
        ISNULL( p.permittype, '' ) permittype
        FROM
        View_PermitInfo p
        WHERE
        1 = 1
        <if test="name !=null and name !=''">
            AND p.CompanyName LIKE '%' + #{ name }+ '%'
        </if>
        <if test="BeginTime !=null and BeginTime !=''">
            AND
            CONVERT(nvarchar(10), p.EndTime,112 ) = #{BeginTime}
        </if>
        <if test="type !=null and type !='' and type == 'A'.toString()">
            AND
            CONVERT(nvarchar(10), p.EndTime,102 ) <![CDATA[ < ]]> CONVERT(nvarchar(10),GETDATE(),121)
        </if>
        ORDER BY
        p.EndTime DESC
        ) a
        ORDER BY
        a.EndTime ASC
    </select>
    <select id="selectMuckadvancedCount" resultType="java.lang.Integer">
        SELECT count (1)
        FROM
        View_PermitInfo p
        LEFT JOIN View_PermitTruck t ON t.PermitNo= p.PermitNo
        WHERE
        1 = 1
        <if test="name !=null and name !=''">
            AND p.CompanyName LIKE '%' + #{ name }+ '%'
        </if>
        <if test="BeginTime !=null and BeginTime !=''">
            AND
            CONVERT(nvarchar(10), p.EndTime,112 ) = #{BeginTime}
        </if>
        <if test="type !=null and type !='' and type == 'A'.toString()">
            AND
            CONVERT(nvarchar(10), p.EndTime,102 ) <![CDATA[ < ]]> CONVERT(nvarchar(10),GETDATE(),102)
        </if>
    </select>
    <select id="selectCarByPermitNo" resultType="java.lang.String">
     SELECT pt.carNO from  View_ProjectPermit p
        LEFT JOIN View_PermitTruck pt ON p.PermitNo = pt.PermitNo
        WHERE
        1 = 1
				AND
				p.PermitNo=#{PermitNo}
    </select>
</mapper>
