<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.car.mapper.sqlserver.MuckMapper">
    <select id="selectMuck" resultType="java.util.Map">
        SELECT
        p.BeginTime,
        p.CarNo,
        p.EndTime,
        p.LineName,
        p.PermitNo,
        t.carType,
        t.Capacity,
        t.ExpiryTime,
        t.CompanyName,
        t.DriverName,
        t.DriverMobile
        FROM
        View_PermitTruck p
        LEFT JOIN View_TruckInfo t ON p.carno = t.carno
        WHERE
        1=1
        <if test="carNo != null and carNo != ''">
            AND p.CarNo = #{carNo}
        </if>
        <if test="time !=null and time !=''">
            and p.EndTime  <![CDATA[ >=]]>   #{time}
        </if>
        <if test="permitNo !=null and permitNo !=''">
            AND p.permitNo = #{permitNo}
        </if>
        ORDER BY
        p.EndTime DESC;
    </select>
    <select id="selectMuckByName" resultType="java.util.Map">
        select *
        from (select top ${size} *
        from (select top ${page} *
        from ( SELECT
        top 1000 *
        FROM
        (
        SELECT
        p.ProjectId,
        p.PermitNo,
        p.LineName,
        p.ProjectName,
        pt.EndTime
        FROM
        View_ProjectPermit p
        LEFT JOIN View_PermitTruck pt ON p.PermitNo = pt.PermitNo
        WHERE
        1 = 1
        <if test="projectName !=null and projectName !=''">
            and p.ProjectName LIKE '%'+ #{projectName}+'%'
        </if>
        <if test="time !=null and time !=''">
            and pt.EndTime <![CDATA[ >= ]]>   #{time}
        </if>
        <if test="endTime !=null and endTime !=''">
            and (SELECT CONVERT(VARCHAR(10),pt.EndTime,120)) = #{endTime}
        </if>
        <if test="name !=null and name!=''">
            and pt.CarNo LIKE '%'+ #{name}+'%'
        </if>
        GROUP BY
        p.PermitNo,
        p.ProjectId,
        p.LineName,
        p.ProjectName,
        pt.EndTime
        ) as a
        ORDER BY
        a.EndTime DESC
        ) as b
        order by b.EndTime asc )
        as temp
        order by temp.EndTime DESC ) temp_order
        order by temp_order.EndTime DESC
        ;
    </select>
    <select id="selectMuckByProject" resultType="java.util.Map">
        SELECT
        p.BeginTime,
        p.EndTime,
        p.LineName,
        p.PermitNo,
        p.CompanyName,
        p.ProjectName ,
        p.Absorption,
        i.CarType,
        i.Capacity,
        i.ExpiryTime,
        i.CompanyName,
        i.CarNo,
        i.DriverName,
        i.DriverMobile ,
        p.place,
        p.mucktype,
        p.approvetime,
        p.permittype,
        com.Contract,
        com.Mobile
        FROM
        View_PermitInfo p
        LEFT JOIN View_PermitTruck t ON t.PermitNo= p.PermitNo
        LEFT JOIN View_TruckInfo i ON i.CarNo= t.CarNo
        LEFT JOIN View_CompanyInfo com ON com.CompanyName= p.CompanyName
        WHERE
        1 = 1
        <if test="projectId !=null and projectId !=''">
            and t.permitNo= #{projectId}
        </if>
        <if test="time!=null and time!=''">
            and t.EndTime &gt;= #{time}
        </if>
        ORDER BY
        p.EndTime DESC;
    </select>
    <select id="selectMuckCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM (SELECT
        p.PermitNo
        FROM
        View_ProjectPermit p
        LEFT JOIN View_PermitTruck pt ON p.PermitNo = pt.PermitNo
        WHERE
        1 = 1
        <if test="projectName !=null and projectName !=''">
            and p.ProjectName LIKE '%'+ #{projectName}+'%'
        </if>
        <if test="time !=null and time !=''">
            and pt.EndTime <![CDATA[ >= ]]>   #{time}
        </if>
        <if test="endTime !=null and endTime !=''">
            and (SELECT CONVERT(VARCHAR(10),pt.EndTime,120)) = #{endTime}
        </if>
        <if test="name !=null and name!=''">
            and pt.CarNo LIKE '%'+ #{name}+'%'
        </if>
        GROUP BY
        p.PermitNo
        ) AS c
    </select>
<select id="selectCarInfo" resultType="java.util.Map">
SELECT
	ISNULL(t.Capacity,'') Capacity,
	ISNULL(t.CarNo,'')CarNo,
	ISNULL(t.CarType,'')CarType,
	ISNULL(t.CarframeNo,'')CarframeNo,
	ISNULL(t.CompanyName,'')CompanyName,
	ISNULL(t.DriverCardNo,'')DriverCardNo,
	ISNULL(t.DriverMobile,'')DriverMobile,
	ISNULL(t.DriverName,'')DriverName,
	ISNULL(t.EngineNo,'')EngineNo,
	ISNULL(t.ExpiryTime,'')ExpiryTime,
	ISNULL(t.GPSSFYC,'')GPSSFYC,
	ISNULL(t.OriginalCarNo,'')OriginalCarNo,
	ISNULL(t.RegisterTime,'')RegisterTime,
	ISNULL(t.SXSFQQ,'')SXSFQQ,
	ISNULL(t.ZYZG,'')ZYZG
FROM
	View_TruckInfo t
WHERE
t.CarNo=#{carNo}
</select>
</mapper>
