<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.car.mapper.sqlserver.TerminalInfoMapper">
    <insert id="insertTerminal">
        insert into terminal_info
        values
        (#{terminal},#{terminalType},#{createDate},#{createUser},#{carId},#{deptid},#{installstatus},#{installtime},
        #{isDelete},#{modifyDate},#{modifyUser},#{carNumber})
    </insert>
    <select id="selectTerminal" resultType="com.example.car.entity.TerminalInfo">
        SELECT
        t.modifyUser ,
        t.modifyDate,
        t.isDelete,
        t.installtime,
        t.installstatus,
        t.deptid,
        t.carId,
        t.createUser,
        t.createDate,
        t.terminalType,
        t.terminal,
        t.terminalId,
        tt.typename ,
        m.m0331 carNumber
        FROM
        M03 m
        LEFT JOIN terminal_info t ON m.RecId= t.carId
        LEFT JOIN settings_device_type tt ON t.terminalType= tt.id
        WHERE
        1 =1

        <if test="deptid !=null and deptid!=''">
            and t.deptid=#{deptid}
        </if>
        <if test="carId !=null and carId!=''">
            and t.carId=#{carId}
        </if>
        <if test="carNumber!=null and carNumber!=''">
            and t.carNumber like '%'+#{carNumber}+'%'
        </if>
    </select>
    <update id="updateTerminal">
        update terminal_info set
        modifyUser=#{modifyUser}
        <if test="modifyDate!=null and modifyDate!=''">
            ,isDelete=#{isDelete}
        </if>
        <if test="terminal!=null and terminal!=''">
            ,terminal=#{terminal}
        </if>
        <if test="terminalType!=null and terminalType!=''">
            ,terminalType=#{terminalType}
        </if>
        <if test="modifyUser!=null and modifyUser!=''">
            ,modifyDate=#{modifyDate}
        </if>
        <if test="carNumber!=null and carNumber!=''">
            ,carNumber=#{carNumber}
        </if>
        where terminalId=#{terminalId}
    </update>
    <delete id="deleteTerminal">
        delete  from terminal_info where
        terminalId=#{terminalId}
    </delete>
</mapper>
