<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.car.mapper.mysql.CarStatusChangeRecordMapper">
    <select id="selectCarStatusChangeRecord" resultType="java.util.Map">
        select `status`.* from car_status_change_record `status` left join car_info car on car.id = `status`.carid where 1=1
        <if test="name !=null and name !=''">
            and car.terminal_id=#{name}
        </if>
            and `status`.current_status<![CDATA[ <> ]]>0
        order by `status`.modify_date desc
        limit 0,#{size}
    </select>
    <select id="selectCarStatusRecord" resultType="com.example.car.entity.CarStatusChangeRecord">
        SELECT
        record.id,
        record.carid,
        record.userid,
        record.prev_status AS prevStatus,
        record.current_status AS currentStatus,
        record.modify_date AS modifyDate,
        record.remark
        FROM
        car_status_change_record record
        LEFT JOIN car_info car ON record.carid = car.id
        WHERE
        1 = 1
        <if test="time !=null and time !=''">
            AND
            TO_DAYS(NOW()) -  TO_DAYS(record.modify_date)<![CDATA[ <= ]]>#{time}
        </if>
        <if test="number !=null and number !=''">
            AND
            car.carnumber=#{number}
        </if>
        ORDER BY
        record.modify_date asc
    </select>

    <select id="selectEChat" resultType="com.example.car.common.utils.entity.EChatBean">
        SELECT
        record.id,
        record.current_status  as  `status`,
        record.modify_date AS createDate
        FROM
        car_status_change_record record
        LEFT JOIN car_info car ON record.carid = car.id
        WHERE
        1 = 1
        <if test="time !=null and time !=''">
            AND
            TO_DAYS(NOW()) -  TO_DAYS(record.modify_date)<![CDATA[ <= ]]>#{time}
        </if>
        <if test="number !=null and number !=''">
            AND
            car.carnumber=#{number}
        </if>
        ORDER BY
        record.modify_date asc
    </select>
</mapper>
