<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.car.mapper.mysql.CarTargetMapper">
    <insert id="insertCarTarget">
insert into car_target (car_number) values (#{carNumber})
    </insert>
    <select id="selectCarTarget" resultType="com.example.car.entity.CarTarget">
       select  id,car_number AS carNumber from car_target
    </select>
    <delete id="deleteCarTarget">
        delete from car_target
    </delete>
</mapper>
