<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.car.mapper.mysql.DeviceAlarmMapper">
    <select id="selectAlarm" resultType="java.util.Map">
        SELECT
        car.id,
        car.deptid,
        car.carnumber,
        alarm.alarm_number,
        alarm.start_lat,
        alarm.start_lon,
        alarm.end_lat,
        alarm.end_lon,
        alarm.start_time,
        alarm.end_time,
        alarm.start_speed,
        alarm.end_speed ,
        setting.alarmname,
        IFNULL(alarm.handle_by,'')handle_by
        FROM
        car_info car
        LEFT JOIN device_alarm alarm ON alarm.terminal_id = car.terminal_id
        LEFT JOIN device_alarm_settings setting ON setting.alarmnumber = alarm.alarm_number
        left join sys_auth_dept dept on dept.deptid=car.deptid
        WHERE
        1 = 1
        <if test="number!=null and number!=''">
            AND car.carnumber LIKE CONCAT('%',#{number},'%')
        </if>
        <if test="startTime!=null and endTime!=null and startTime!='' and endTime!=''">
            AND alarm.start_time BETWEEN #{startTime}
            AND #{endTime}
        </if>
        <if test="id!=null and id!=''">
            and dept.deptid=#{id}
        </if>
        <if test="type!=null and type!=''">
            and alarm.alarm_number=#{type}
        </if>
        order by alarm.end_time desc
        limit 0,#{size}
        ;
    </select>
    <select id="selectAlarmOther" resultType="java.util.Map">
        SELECT
        car.id,
        car.deptid,
        car.carnumber,
        alarm.alarm_number,
        alarm.start_lat,
        alarm.start_lon,
        alarm.end_lat,
        alarm.end_lon,
        alarm.start_time,
        alarm.end_time,
        alarm.start_speed,
        alarm.end_speed ,
        setting.alarmname,
        IFNULL(alarm.handle_by,'')handle_by
        FROM
        car_info car
        LEFT JOIN device_alarm alarm ON alarm.terminal_id = car.terminal_id
        LEFT JOIN device_alarm_settings setting ON setting.alarmnumber = alarm.alarm_number
        left join sys_auth_dept dept on dept.deptid=car.deptid
        WHERE
        1 = 1
        <if test="number!=null and number!=''">
            AND car.carnumber LIKE CONCAT('%',#{number},'%')
        </if>
        <if test="startTime!=null and endTime!=null and startTime!='' and endTime!=''">
            AND alarm.start_time BETWEEN #{startTime}
            AND #{endTime}
        </if>
        <if test="id!=null and id!=''">
            and dept.deptid=#{id}
        </if>
            and alarm.alarm_number <![CDATA[ ><]]>2
        order by alarm.end_time desc
        limit 0,#{size}
        ;
    </select>
    <select id="selectGpsAlarm" resultType="java.util.Map">
         SELECT
	*
FROM
	 device_alarm alarm
WHERE
1 = 1
and alarm.terminal_id =#{number}
and alarm.alarm_number=198
order by end_time desc
limit 0,1;
    </select>

    <select id="selectAlarmCount" resultType="java.lang.Integer">
        SELECT
        COUNT(1)
        FROM
        car_info car
        LEFT JOIN device_alarm alarm ON alarm.terminal_id = car.terminal_id
        LEFT JOIN device_alarm_settings setting ON setting.alarmnumber = alarm.alarm_number
        left join sys_auth_dept dept on dept.deptid=car.deptid
        WHERE
        1 = 1
        <if test="number!=null and number!=''">
            AND car.carnumber LIKE CONCAT('%',#{number},'%')
        </if>
        <if test="startTime!=null and endTime!=null and startTime!='' and endTime!=''">
            AND alarm.start_time BETWEEN #{startTime}
            AND #{endTime}
        </if>
        <if test="id!=null and id!=''">
            and dept.deptid=#{id}
        </if>
        <if test="type!=null and type!=''">
            and alarm.alarm_number=#{type}
        </if>
        ;
    </select>

    <select id="selectAlarmNowCount" resultType="java.lang.Integer">
           SELECT
        COUNT(1)
        FROM
        car_info car
        LEFT JOIN device_alarm alarm ON alarm.terminal_id = car.terminal_id
        LEFT JOIN device_alarm_settings setting ON setting.alarmnumber = alarm.alarm_number
        left join sys_auth_dept dept on dept.deptid=car.deptid
        WHERE
        1 = 1
       	AND TO_DAYS(alarm.start_time)=TO_DAYS(NOW())
        <if test="type!=null and type!=''">
            and alarm.alarm_number=#{type}
        </if>
        ;
    </select>

    <select id="selectAlarmEChat" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM (SELECT
COUNT(1)
FROM
	device_alarm alarm
	LEFT JOIN car_info car ON car.terminal_id = alarm.terminal_id
	WHERE
	car.deptid=#{deptid}
	GROUP BY
	car.carnumber
)a
    </select>
    <select id="selectAlarmCar" resultType="java.lang.String">
        SELECT
        car.carnumber
        FROM
        device_alarm alarm
        LEFT JOIN car_info car ON car.terminal_id = alarm.terminal_id
        WHERE
	car.deptid=#{deptid}
	AND alarm.alarm_number IN (2,14)
        <if test="number !=null and number!=''">
            AND car.carnumber=#{number}
        </if>
        GROUP BY
        alarm.terminal_id
    </select>

    <select id="selectEChat" resultType="java.lang.String">
        SELECT
        alarm.alarm_number
        FROM
        device_alarm alarm
        LEFT JOIN car_info car ON car.terminal_id = alarm.terminal_id
        WHERE
        car.deptid=#{deptid}
        AND alarm.alarm_number IN (2,14)
        <if test="number !=null and number!=''">
            AND car.carnumber=#{number}
        </if>
        GROUP BY
        alarm.alarm_number
    </select>
    <select id="selectEChat1" resultType="com.example.car.common.utils.entity.EChatBean3">
        SELECT
        car.id,
        car.deptid,
        car.carnumber,
        `set`.alarmname,
        alarm.start_lat,
        alarm.start_lon,
        alarm.end_lat,
        alarm.end_lon,
        alarm.start_time,
        alarm.end_time,
        alarm.start_speed,
        alarm.end_speed
        FROM
        car_info car
        LEFT JOIN device_alarm alarm ON alarm.terminal_id = car.terminal_id
        LEFT JOIN device_alarm_settings `set` ON `set`.alarmnumber=alarm.alarm_number
        where
        1=1
        <if test="number !=null and number !=''">
        and car.carnumber=#{number }
        </if>
        and alarm.alarm_number in (2,14)
        <if test="time !=null and time !=''">
        AND TO_DAYS(NOW())-TO_DAYS(alarm.start_time)<![CDATA[ <= ]]>#{time}
        </if>
        order by alarm.end_time desc
    </select>
    <select id="selectTask" resultType="com.example.car.common.utils.entity.EChatBean3">
        SELECT
        car.id,
        car.deptid,
        car.carnumber,
        `set`.alarmname,
        alarm.start_lat,
        alarm.start_lon,
        alarm.end_lat,
        alarm.end_lon,
        alarm.start_time,
        alarm.end_time,
        alarm.start_speed,
        alarm.end_speed
        FROM
        car_info car
        LEFT JOIN device_alarm alarm ON alarm.terminal_id = car.terminal_id
        LEFT JOIN device_alarm_settings `set` ON `set`.alarmnumber=alarm.alarm_number
        where
        1=1
        <if test="number !=null and number !=''">
            and car.carnumber=#{number }
        </if>
        and alarm.alarm_number in (2,14)
            AND TO_DAYS(NOW())<![CDATA[ = ]]>TO_DAYS(alarm.start_time)
        order by alarm.end_time desc
    </select>
</mapper>
