<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.car.mapper.mysql.DeviceAlarmSeverityMapper">

    <insert id="insertAlarmSeverity">
insert  into  device_alarm_severity
(alarm_name,car_number,alarm_start_time,alarm_start_speed,alarm_lat,alarm_lng,alarm_end_time,alarm_end_speed,deptid)
values (#{alarmName},#{carNumber},#{alarmStartTime},#{alarmStartSpeed},#{alarmLat},#{alarmLng},#{alarmEndTime},#{alarmEndSpeed},#{deptid});
    </insert>

    <update id="updateAlarmSeverity">
  update    device_alarm_severity set
        alarm_end_time =#{alarmEndTime},alarm_end_speed=#{alarmEndSpeed},alarm_mileage=#{alarmMileage},
        alarm_end_lat=#{alarmEndLat},alarm_end_lng=#{alarmEndLng},deptid=#{deptid}
        where alarm_id =#{alarmId};
    </update>

    <select id="selectAlarmSeverity" resultType="java.util.Map">
        select
        alarm_id AS id,
        alarm_name AS alarmname,
        car_number AS carnumber,
        alarm_start_time AS start_time,
        alarm_start_speed as start_speed,
        alarm_end_time AS end_time,
        alarm_end_speed as end_speed,
        alarm_end_lat AS alarmEndLat,
        alarm_end_lng as alarmEndLng,
        alarm_mileage as alarmMileage,
        alarm_lat AS start_lat,
        handle_by AS handleBy,
        handle_type AS handleType,
        handle_time AS handleTime,
        alarm_lng AS start_lon
        from device_alarm_severity where
        1=1
        <if test="startTime !=null and endTime!=null and startTime!='' and endTime!=''">
            AND alarm_start_time BETWEEN #{startTime}
            AND #{endTime}
        </if>
        <if test="number !=null and number!=''">
            and car_number LIKE CONCAT('%',#{number},'%')
        </if>
        <if test="name !=null and name!=''">
            and alarm_name =#{name}
        </if>
        order by alarm_start_time desc
        limit 0,#{size} ;
    </select>
    <select id="selectAlarmSeverityAll" resultType="java.util.Map">
        SELECT
        alarm_id AS id,
        alarm_name AS alarmname,
        car_number AS carnumber,
        alarm_start_time AS start_time,
        alarm_start_speed as start_speed,
        alarm_end_time AS end_time,
        alarm_end_speed as end_speed,
        alarm_end_lat AS alarmEndLat,
        alarm_end_lng as alarmEndLng,
        alarm_mileage as alarmMileage,
        alarm_lat AS start_lat,
        handle_by AS handleBy,
        handle_type AS handleType,
        handle_time AS handleTime,
        alarm_lng AS start_lon
        FROM
        device_alarm_severity
        WHERE
        1 =1
        <if test="startTime !=null and endTime!=null and startTime!='' and endTime!=''">
            AND alarm_start_time BETWEEN #{startTime}
            AND #{endTime}
        </if>
        <if test="number !=null and number!=''">
            and car_number LIKE CONCAT('%',#{number},'%')
        </if>
        order by alarm_start_time desc
        limit 0,#{size}
        ;
    </select>
    <select id="selectAlarmSeverityCount" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        device_alarm_severity
        WHERE
        1 =1
        <if test="startTime !=null and endTime!=null  and startTime!='' and endTime!=''">
            AND alarm_start_time BETWEEN #{startTime}
            AND #{endTime}
        </if>
        and alarm_name =#{name}
    </select>

    <select id="selectAlarmSeverityTask" resultType="com.example.car.entity.DeviceAlarmSeverity">
        select
        alarm_id AS alarmId,
        alarm_name AS alarmName,
        car_number AS carNumber,
        alarm_start_time AS alarmStartTime,
        alarm_start_speed as alarmStartSpeed,
        alarm_end_time AS alarmEndTime,
        alarm_end_speed as alarmEndSpeed,
        alarm_end_lat AS alarmEndLat,
        alarm_end_lng as alarmEndLng,
        alarm_mileage as alarmMileage,
        alarm_lat AS alarmLat,
        handle_by AS handleBy,
        handle_type AS handleType,
        handle_time AS handleTime,
        deptid AS deptid,
        alarm_lng AS alarmLng
        from device_alarm_severity where
        1=1
        <if test="startTime !=null and endTime!=null and startTime!='' and endTime!=''">
            AND alarm_start_time BETWEEN #{startTime}
            AND #{endTime}
        </if>
        <if test="number !=null and number!=''">
            and car_number LIKE CONCAT('%',#{number},'%')
        </if>
        <if test="name !=null and name!=''">
            and alarm_name =#{name}
        </if>
        <if test="day !=null and day !='' and day == 'A'.toString()">
            and TO_DAYS(alarm_start_time) = TO_DAYS(NOW())
        </if>
        order by alarm_start_time desc
        limit 0,1 ;
    </select>

    <select id="selectAlarmSeverityValid" resultType="com.example.car.entity.DeviceAlarmSeverity">
        SELECT
        *
        FROM
        (
        select
        alarm_id AS alarmId,
        alarm_name AS alarmName,
        car_number AS carNumber,
        alarm_start_time AS alarmStartTime,
        alarm_start_speed as alarmStartSpeed,
        alarm_end_time AS alarmEndTime,
        alarm_end_speed as alarmEndSpeed,
        alarm_end_lat AS alarmEndLat,
        alarm_end_lng as alarmEndLng,
        alarm_mileage as alarmMileage,
        alarm_lat AS alarmLat,
        handle_by AS handleBy,
        handle_type AS handleType,
        handle_time AS handleTime,
        alarm_lng AS alarmLng

        from device_alarm_severity where
        1=1
        <if test="startTime !=null and endTime!=null and startTime!='' and endTime!=''">
            AND alarm_start_time BETWEEN #{startTime}
            AND #{endTime}
        </if>
        <if test="number !=null and number!=''">
            and car_number LIKE CONCAT('%',#{number},'%')
        </if>
        <if test="name != null and name!=''">
            and alarm_name =#{name}
        </if>
        and alarm_end_time IS NULL
        order by alarm_start_time desc
        ) a
        GROUP BY
        a.carNumber
        ORDER BY
        a.alarmStartTime DESC
    </select>
    <select id="selectAlarmMuck" resultType="com.example.car.entity.DeviceAlarmSeverity">
        SELECT
        *
        FROM
        (
        select
        alarm_id AS alarmId,
        alarm_name AS alarmName,
        car_number AS carNumber,
        alarm_start_time AS alarmStartTime,
        alarm_start_speed as alarmStartSpeed,
        alarm_end_time AS alarmEndTime,
        alarm_end_speed as alarmEndSpeed,
        alarm_end_lat AS alarmEndLat,
        alarm_end_lng as alarmEndLng,
        alarm_mileage as alarmMileage,
        alarm_lat AS alarmLat,
        handle_by AS handleBy,
        handle_type AS handleType,
        handle_time AS handleTime,
        alarm_lng AS alarmLng
        from device_alarm_severity where
        1=1
        <if test="number !=null and number !=''">
            and car_number LIKE CONCAT('%',#{number},'%')
        </if>
        <if test="name !=null and name!=''">
            and alarm_name =#{name}
        </if>
        AND TO_DAYS(alarm_start_time) = TO_DAYS(NOW())
        order by alarm_start_time desc
        ) a
        GROUP BY
        a.carNumber
        ORDER BY
        a.alarmStartTime DESC
    </select>

    <select id="selectAlarmNowCount" resultType="java.lang.Integer">

        SELECT
        count(1)
        FROM
        device_alarm_severity
        WHERE
        1 =1
				AND TO_DAYS(alarm_start_time)=TO_DAYS(NOW());
    </select>

    <select id="selectAlarmName" resultType="java.lang.String">
  SELECT
        a.carNumber
        FROM
        (
        select
        alarm_id AS alarmId,
        alarm_name AS alarmName,
        car_number AS carNumber,
        alarm_start_time AS alarmStartTime,
        alarm_start_speed as alarmStartSpeed,
        alarm_end_time AS alarmEndTime,
        alarm_end_speed as alarmEndSpeed,
        alarm_end_lat AS alarmEndLat,
        alarm_end_lng as alarmEndLng,
        alarm_mileage as alarmMileage,
        alarm_lat AS alarmLat,
         handle_by AS handleBy,
        handle_type AS handleType,
        handle_time AS handleTime,
        alarm_lng AS alarmLng
        from device_alarm_severity where
        1=1
            AND  TO_DAYS(alarm_start_time) = TO_DAYS(NOW())
        order by alarm_start_time desc
        ) a
        GROUP BY
        a.carNumber
        ORDER BY
        a.alarmStartTime DESC
    </select>
    <select id="selectAlarmCar" resultType="java.lang.String">
        SELECT
        alarm.car_number AS carNumber
FROM
	device_alarm_severity alarm
	LEFT JOIN car_info car ON car.carnumber = alarm.car_number
WHERE
	car.deptid = #{deptid}
	<if test="number != null and number!=''">
        AND alarm.car_number LIKE CONCAT('%',#{number},'%')
    </if>
GROUP BY
        carNumber
    </select>
    <select id="selectEChat" resultType="java.lang.String">
        SELECT
        alarm.alarm_name AS alarmName
        FROM
        device_alarm_severity alarm
        LEFT JOIN car_info car ON car.carnumber = alarm.car_number
        WHERE
        car.deptid = #{deptid}
        <if test="number != null and number!=''">
            AND alarm.car_number LIKE CONCAT('%',#{number},'%')
        </if>
        GROUP BY
        alarm.alarm_name
    </select>
    <select id="selectEChat1" resultType="com.example.car.common.utils.entity.EChatBean3">
        select
        alarm.alarm_id AS id,
        alarm.alarm_name AS alarmname,
        alarm.car_number AS carnumber,
        alarm.alarm_start_time AS start_time,
        alarm.alarm_start_speed as start_speed,
        alarm.alarm_end_time AS end_time,
        alarm.alarm_end_speed as end_speed,
        alarm.alarm_end_lat AS end_lat,
        alarm.alarm_end_lng as end_lon,
        alarm.alarm_mileage as alarmMileage,
        alarm.alarm_lat AS start_lat,
        alarm.handle_by AS handleBy,
        alarm.handle_type AS handleType,
        alarm.handle_time AS handleTime,
        dept.deptname AS deptname,
        alarm.alarm_lng AS start_lon
        from device_alarm_severity alarm LEFT JOIN sys_auth_dept dept ON dept.deptid=alarm.deptid where
        1=1
        <if test="number !=null and number !=''">
            and alarm.car_number LIKE CONCAT(#{number},'%')
        </if>
        <if test="time !=null and time !=''">
            AND TO_DAYS(NOW())-TO_DAYS(alarm.alarm_end_time)<![CDATA[ <= ]]>#{time}
        </if>
        <if test="type !=null and type !=''">
            and alarm.handle_type =#{type}
        </if>
        <if test="deptid !=null and deptid !=''">
            and alarm.deptid =#{deptid}
        </if>
        <if test="day !=null and day !='' and day == 'A'.toString()">
            and TO_DAYS(alarm.alarm_end_time) = TO_DAYS(NOW())
        </if>
        <if test="name !=null and name!=''">
            and alarm.alarm_name =#{name}
        </if>
        order by alarm.alarm_start_time desc
    </select>
    <select id="selectAlarmEChat" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM (SELECT
COUNT(1)
FROM
	device_alarm_severity alarm
	LEFT JOIN car_info car ON car.terminal_id = alarm.terminal_id
	WHERE
	car.deptid=#{deptid}
	GROUP BY
	car.carnumber
)a
    </select>
</mapper>
