<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.car.mapper.mysql.GivenPlaceMapper">
<insert id="insertGivenPlace">
insert into given_place (`name`,lat,lng,dic,createtime,createuser,deptid)
values (#{name},#{lat},#{lng},#{dic},#{createtime},#{createuser},#{deptid});
</insert>
    <select id="selectOne" resultType="com.example.car.entity.GivenPlace">
select * from given_place where id=#{id}
    </select>
    <select id="selectAll" resultType="com.example.car.entity.GivenPlace">
select * from given_place 
    </select>
    <update id="updateGivenPlace">
        update given_place set
         `name`=#{name},lat=#{lat},lng=#{lng},dic=#{dic},createtime=#{createtime},createuser=#{createuser},deptid=#{deptid}
         where
         id=#{id}
    </update>
    <delete id="delGivenPlace">
delete from given_place where id=#{id}
    </delete>
</mapper>