<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.car.mapper.mysql.PlaceMapper">
    <insert id="insertPlace">
insert into place (`name`,lat,lng,dic,createtime,createuser,`site`,phone,standbyphone,remark,standbyuser,starttime,endtime,area,video,district)
values (#{name},#{lat},#{lng},#{dic},#{createtime},#{createuser},#{site},#{phone},#{standbyphone},#{remark},#{standbyuser},#{starttime},#{endtime},#{area},#{video},#{district});
</insert>

    <select id="selectOne" resultType="com.example.car.entity.Place">
select * from place where id=#{id}
    </select>
    <select id="selectAll" resultType="com.example.car.entity.Place">
select * from place where
 1=1
 <if test="name !=null and name!=''">
     and  `name` LIKE CONCAT('%',#{name},'%')
 </if>
    </select>
    <update id="updatePlace">
        update place set
        `name`=#{name}
        <if test="lat !=null and lat !=''">
            ,lat=#{lat}
        </if>
        <if test="lng !=null and lng !=''">
            ,lng=#{lng}
        </if>
        <if test="dic !=null and dic !=''">
            ,dic=#{dic}
        </if>
        <if test="createtime !=null and createtime !=''">
            ,createtime=#{createtime}
        </if>
        <if test="createuser !=null and createuser !=''">
            ,createuser=#{createuser}
        </if>
        <if test="site !=null and site !=''">
            ,`site`=#{site}
        </if>
        <if test="phone !=null and phone !=''">
            ,phone=#{phone}
        </if>
        <if test="standbyphone !=null and standbyphone !=''">
            ,standbyphone=#{standbyphone}
        </if>
        <if test="remark !=null and remark !=''">
            ,remark=#{remark}
        </if>
        <if test="standbyuser !=null and standbyuser !=''">
            ,standbyuser=#{standbyuser}
        </if>
        <if test="starttime !=null and starttime !=''">
            ,starttime=#{starttime}
        </if>
        <if test="endtime !=null and endtime !=''">
            ,endtime=#{endtime}
        </if>
        <if test="area !=null and area !=''">
            ,area=#{area}
        </if>
        <if test="video !=null and video !=''">
            ,video=#{video}
        </if>
        <if test="district !=null and district !=''">
            ,district=#{district}
        </if>
        where
        id=#{id}
    </update>
    <delete id="delPlace">
delete from place where id=#{id}
    </delete>

</mapper>